@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Sono", monospace;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
